body{
    font-family: Arial, Helvetica, sans-serif;
     color: darkslategrey;
     font-size: 17px;

}
#h1{
    font-size: 30px;
    text-align: center;
    color: darkblue;

}
.h2{
    background-color: lightskyblue;
    color: darkblue;
    font-size: 24px;
}
#img{
    border-radius: 70%;
    width: 300px;
    height: 200px;
}
#ul{
    color: blue;
}

.a{
    color: darkblue;
    
    
}

a {
    text-decoration: none; 
    color: blue; }
    a:hover {
        text-decoration: underline;}
    a:visited{
            color: darkblue;
}


.a1{
    color: darkslategrey; font-weight: bold; }
    .a1:hover {
       text-decoration: none; }
        

.il{
    color: darkslategrey; 
}


    